<!DOCTYPE html>
<!--[if gt IE 9]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>{% if meta.title %}{{ meta.title }} | {% endif %}{{ site_title }}</title>
{% if meta.description %}
	<meta name="description" content="{{ meta.description }}"> 
{% endif %}{% if meta.robots %}
	<meta name="robots" content="{{ meta.robots }}">
{% endif %}

	<link href="{{ theme_url }}/assets/css/style.css" rel="stylesheet">
	<link href="{{ theme_url }}/assets/css/gumby.css" rel="stylesheet">

	<script src="{{ theme_url }}/assets/js/libs/modernizr-2.6.2.min.js"></script>
</head>
<body>

	<script>
	var oldieCheck = Boolean(document.getElementsByTagName('html')[0].className.match(/\soldie\s/g));
	if(!oldieCheck) {
	document.write('<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"><\/script>');
	} else {
	document.write('<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"><\/script>');
	}
	</script>
	<script>
	if(!window.jQuery) {
	if(!oldieCheck) {
	  document.write('<script src="{{ theme_url }}/assets/js/libs/jquery-2.0.2.min.js"><\/script>');
	} else {
	  document.write('<script src="{{ theme_url }}/assets/js/libs/jquery-1.10.1.min.js"><\/script>');
	}
	}
	</script>

	<header id="header">
		<nav class="navbar" id="nav1">
			<div class="row">
				<a class="toggle" data-trigger="#nav1 ul" href="#"><i class="icon-menu"></i></a>
				<h3 class="four columns logo">
					<a href="{{ base_url }}"><img src="{{ theme_url }}/assets/img/logo.png"></a>
				</h3>
				{{ at_navigation.navigation }}
			</div>
		</nav>
	</header>

	<main id="content">
		<div class="row">
			<div class="twelve columns">
				{% if breadcrumbs %}
				<p>
					<span id="menu-text">U bent hier: </span><a href="/" itemprop="url"><span itemprop="title">{{ site_title }}</span></a>
					{% for crumb in breadcrumbs %}
					<i class="icon-right-open-mini"></i>
					<a href="{{ crumb.url }}">{{ crumb.name }}</a>
					{% endfor %}
					<span class="small btn default" id="hide-images"><a href="#" class="toggle" gumby-trigger="img">Afbeeldingen tonen/verbergen</a></span>
				</p>
				{% endif %}
				{{ content }}
			</div>
		</div>
	</main>

	<footer id="footer">
		<div class="row">
			<div class="twelve columns">
				&copy; <a href="http://github.com/zohma/forging/" target="_blank">Forging</a> by <a href="http://github.com/zohma/" target="_blank">Zohma</a>
			</div>
		</div>
	</footer>

	<script src="{{ theme_url }}/assets/js/libs/gumby.min.js"></script>
	<script src="{{ theme_url }}/assets/js/plugins.js"></script>
	<script src="{{ theme_url }}/assets/js/main.js"></script>
	<script src='https://www.google.com/recaptcha/api.js'></script>
	<script>

	</script>

	<a href="#" data-goto="top" class="skip cd-top"><i class='icon-up-open-big'></i>Top</a>

</body>
</html>
