/*=================================*/
/* Forging Theme
/* By: Zohma (Barry Anders)
/* http: //github.com/zohma
/*=================================*/

/* Structure Styles
/*---------------------------------------------*/

h1, h2, h3 {
	padding-bottom: 1em !important;
}

main h3 {
	padding-top: 1.5em !important;
}

html,
body {
	height: 100%;
	width: 100%;
}

#content {
	min-height: calc( 100vh - 225px );
}

#footer {
	padding: 20px 0;
	margin-top: 40px;
	background: #f1f1f1;
	text-align: center;
}

/* --Back to top button-- */

.cd-top {
	display: inline-block;
	height: 40px;
	width: 40px;
	position: fixed;
	bottom: 40px;
	right: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
	/* image replacement properties */
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
	background: rgba(232, 98, 86, 0.8) url(../img/cd-top-arrow.svg) no-repeat center 50%;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: opacity .3s 0s, visibility 0s .3s;
	-moz-transition: opacity .3s 0s, visibility 0s .3s;
	transition: opacity .3s 0s, visibility 0s .3s;
}

.cd-top.cd-is-visible, .no-touch .cd-top:hover {
	-webkit-transition: opacity .3s 0s, visibility 0s 0s;
	-moz-transition: opacity .3s 0s, visibility 0s 0s;
	transition: opacity .3s 0s, visibility 0s 0s;
}
.cd-top.cd-is-visible {
	/* the button becomes visible */
	visibility: visible;
	opacity: 1;
}

.no-touch .cd-top:hover {
	background-color: #e86256;
	opacity: 1;
}
@media only screen and (min-width: 768px) {
	.cd-top {
		right: 20px;
		bottom: 20px;
	}
}
@media only screen and (min-width: 1024px) {
	.cd-top {
		height: 60px;
		width: 60px;
		right: 30px;
		bottom: 30px;
	}
}

/**
 * The menu.
 *
 */
nav li {
	position: relative;
}

nav ul ul {
	width: 100%;
	box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.3);
}

nav ul ul li {
	background-color: white;
	display:block !important;
}

nav ul ul a {
	color: #d04526 !important;
	text-shadow: none !important;
	padding: 0 20px;
	border-bottom: 1px solid #cccccc;
	height: 51px;
	line-height: 49px;
}

nav ul ul a:hover {
	background: #f2f2f2 !important;
}

nav a {
	transition: all .25s ease;
}
nav li ul {
	left: 0;
	opacity: 0;
	position: absolute;
	top: 60px;
	visibility: hidden;
	z-index: 1;
	transition: all .25s ease;
}

nav li:hover ul {
	opacity: 1;
	visibility: visible;
}

nav li ul li {
	float: none;
	width: 100%;
}

nav ul li:hover a i{
	transition: all .25s ease;
	transform: rotate(180deg);
}

nav ul li a i {
	transition: all .25s ease;
}

#menu-text {
	padding-right: 10px;
}

.warning, .info {
	position: relative;
}

.warning:after, .info:after {
	font-family: "entypo";
	font-size: 16px;
	position: absolute;
	top: -1px;
	right: 10px;
	z-index: 999;
}

.warning:after {
	content: "\26a0";
}

.info:after {
	content: "\e705";
}

.alert {
	margin-bottom: 2em !important;
}

.alert.info {
	background: #5F6061 !important;
}

.info a {
	color: #F38870 !important;
}

.intro-icon-container i[class^="icon-"] {
	font-size: 70pt;
	line-height: 90pt;
	width: 100%;
}

.intro-icon-container {
	text-align: center;
	margin-bottom: 25px !important;
}

main img.active {
	display: none;
}

#hide-images {
	float: right;
	max-width: 190px;
}

#hide-images.fixed {
	left: initial !important;
	right: 20px;
}

@media print {
	#header, #hide-images, #toc {
		display: none;
	}
	.alert.info {
		background: white !important;
	}
}